<%-include('header') %>
<h2>Projects</h2>
<ul id="projects-list">
  <% if (projects.length > 0) { %> <% projects.forEach(project => { %>
  <li>
    <a href="/project/<%=  project.id%>/tasks">
      <%= project.title %>
    </a>
    <a class="delete" href="/project/<%=  project.id%>">
      x
    </a>
  </li>
  <% })%> <%} else { %>
  <!-- else statment need follow the if end statem end -->
  <p>No projects to show</p>
  <% } %>
</ul>

<h2>Create new project</h2>
<form action="/projects" method="POST">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" />
    <button type="submit">Add</button>
  </p>
</form>
<%-include('footer') %>
